body{
    background: url('https://images.unsplash.com/photo-1593538313188-7a6ab30a8ae4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZXhwZW5zZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60')no-repeat;
    background-size: cover;
}

.expense-heading{
    text-align: center;
    color: black;
}

.expense{
    margin: 80px 550px;
}

label{
    font-size:30px;
    color: black;
}

input{
    width:350px;
    height: 30px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
}

select{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
}


#submit{
    width:200px;
    height: 40px;
    margin: 0px 115px;
    border-radius: 10px;
    border-color: black;
    background-color: white;

}

button{
    width:80px;
    border-radius: 10px;
    background-color: white;
    border:5px solid black;
}

.userlist{
    margin:30px;
}
#rzp-button1
{
    position: fixed;
    height: 50px;
    width: 200px;
    bottom: 10px;
    left: 10px;
    background: none;
    font-size: large;
    color: black;
    background-color: white;
}

#logout{
    position: fixed;
    top:20px;
    right: 50px;
    background: none;
    font-size: large;
    background-color: white;
}

#body.premium
{
    background-image: url(https://images.unsplash.com/photo-1546536582-cdabb1daf509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHN1bW1lcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     color: black;

}

#logout.premium{
    color: black;
}


#Addbtn.premium
{
    background-color: black;
    color: azure;

}
#leaderboard{
    width:200px;
    height: 40px;
    margin: 0px 115px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
}